html, body {
	background-color: #EEEEEE;
	color: #333333;
}

a {
	color: #FF6600;
}

a:hover {
	color: #0066FF;
}

.adminbar {
	background: inherit;
}

.adminbar a {
	font-weight: bold;
}

.logo {
	font-size: 2em;
	color: #FF6600;
}

.replymode, .passvalid {
	background: #DDDDDD;
	text-align: center;
	padding: 2px;
	color: #2266AA;
	clear: both;
	margin-bottom: .5em;
	border: solid 1px #CCCCCC;
}

.catalogmode {
	background: #0040E0;
	text-align: center;
	padding: 2px;
	color: #DDDDDD;
	clear: both;
	margin-bottom: .5em;
	border: solid 1px #CCCCCC;
}

.postarea {
	border-top: 1px solid #BBBBBB !important;
	border-bottom: 1px solid #BBBBBB !important;
}

.rules {
	font-family: sans-serif;
}

.postblock {
	background: #ddd;
	color: #002244;
	font-weight: bold;
}

.footer {
	font-family: sans-serif;
}

.dellist {
	font-weight: bold;
}

.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}

.managehead {
	background: #DDDDDD;
	color: #002244;
}

.postlists {
	color: #800000;
}

.row1 {
	background: #DDDDDD;
	color: #002244;
}

.row2 {
	background: #CCCCCC;
	color: #002244;
}

.unkfunc {
	background: inherit;
	color: #789922;
}

.reflink {}
.filesize {
	text-decoration: none;
	color: #666666;
	font-family: sans-serif;
}

.filetitle {
	font-size: 1.2em;
	color: #002244;
	font-weight: bold;
}

.postername {
	color: #004A99;
	font-weight: bold;
}

.postertrip {
	color: #FF3300;
}

.oldpost {
	color: #CC1105;
	font-weight: bold;
}

.omittedposts {
	color: #666666;
}

.reply {
	background: #DDDDDD;
	border: solid 1px #CCCCCC;
}

blockquote p {
	margin: 0;
	padding: 0;
}

.doubledash {
	display: none;
	vertical-align: top;
	clear: both;
	float: left;
}

.replytitle {
	font-size: 1.2em;
	color: #002244;
	font-weight: bold;
}

.commentpostername {
	color: #004A99;
	font-weight: 800;
}

.thumbnailmsg {
	font-size: .8em;
	color: #666666;
}

hr {
	border-style: solid none none none;
	border-width: 1px;
	border-color: #BBBBBB;
}

table {
	border-style: none;
}

table td {
	border-style: none;
}

.nothumb {
	background-color: #FFFFFF;
	border-style: dotted;
	margin: .3em .5em;
}

.abbrev {
	color: #666666;
}

.highlight {
	background: #EEDACB;
	color: #333333;
	border: 2px dashed #EE6600;
}

#watchedthreads {
	background-color: #DDDDDD !important;
	border: 1px solid #CCCCCC !important;
	border-radius: 5px;
}

.hidethread {
	background: transparent url('./icons/beige/icons.svg') -32px -16px no-repeat;
}

.unhidethread img {
	background: transparent url('./icons/beige/icons.svg') -48px 0px no-repeat;
}

.watchthread {
	background: transparent url('./icons/beige/icons.svg') -32px 0px no-repeat;
}

.expandthread {
	background: transparent url('./icons/beige/icons.svg') 0px -16px no-repeat;
}

.quickreply {
	background: transparent url('./icons/beige/icons.svg') 0px 0px no-repeat;
}

.hidewatchedthreads, .hidebutton {
	background: transparent url('./icons/beige/icons.svg') -48px -16px no-repeat;
}

.refreshwatchedthreads {
	background: transparent url('./icons/beige/icons.svg') -16px -16px no-repeat;
}

.restorewatchedthreads {
	background: transparent url('./icons/beige/icons.svg') -16px 0px no-repeat;
}

.reflinkpreview {
	background-color: #DDDDDD !important;
}

.topmenu {
	border-bottom: 1px solid #CCCCCC;
	background: #EEEEEE;
}

.adminbar img {
	vertical-align: middle;
	border: 0;
}

.navbar {
	padding: 5px;
}

body {
	margin-top: 33px;
}

.catalogsubject {
	color: #002244;
}

.catalogmsg {
	color: #333333;
}

.catalogposts {
	color: #666666;
}

.thrdcntnr {
	border-bottom: 1px solid #BBBBBB !important;
}

.cataloglist {
	border-bottom: 1px solid #BBBBBB !important;
}

.unhidethread {
	border-bottom: 1px solid #BBBBBB !important;
}

.post-badge {
	fill: white;
	background: #FF6600;
}

.nav-btn,
.post-btn,
.btn-small {
	fill: #FF6600;
}

.nav-btn:hover,
.post-btn:hover,
.btn-small:hover {
	fill: #0066FF;
}

input[type="text"], input[type="password"], textarea {
	border: 1px solid #AAA;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 1px solid #EEAA88;
}

.pgstbl table {
	border: 1px solid #CCCCCC !important;
}

.quick-reply-form.reply {
	background-color: #EEEEEE;
}

.quick-reply-form .post-badge:hover {
	fill: #0066FF;
}

.quick-reply-form.form-detached {
	border: 1px #BBBBBB dashed;
}

.quick-reply-form.form-detached .post-badge {
	fill: #FF6600;
}

.quick-reply-form.form-detached .post-badge:hover {
	fill: #DDDDDD;
	background: #0066FF;
}

html .site-wrapper, body.site-wrapper {
	background-color: #EEEEEE;
	color: #333333;
	font-family: "Trebuchet MS",Trebuchet,serif;
}

.site-wrapper a {
	color: #FF6600;
}

.site-wrapper h3 {
	float: center;
}

.site-wrapper h2 {
	background: #DDDDDD;
	border-bottom: 1px solid #CCCCCC;
	margin-top: 1em;
}

.site-wrapper h2 a {
	text-decoration: none;
}

.site-wrapper h1, .site-wrapper h3, .site-wrapper .menu {
	font-family: Verdana,Tahoma,sans-serif;
}

.site-wrapper h1 {
	margin: 0;
	text-align: center;
	margin-top: 1em;
}

.site-wrapper .content {
	margin-bottom: 9px;
	-moz-border-radius: 5px 5px 5px 5px;
}

.site-wrapper a:hover {
	color: #0066FF;
}

.site-wrapper .logo {
	clear: both;
	text-align: left;
	font-size: 2em;
	font-weight: bold;
	color: #FF6600;
}

.site-wrapper .rules {
	font-size: 0.7em;
}

.site-wrapper .footer {
	text-align: center;
	font-size: 12px;
	font-family: serif;
	margin: 2em 0 0 0;
}

.site-wrapper .row1 {
	background: #DDDDDD;
	color: #002244;
}

.site-wrapper .row2 {
	background: #CCCCCC;
	color: #002244;
}

.site-wrapper .reflink {
	font-size: .8em;
	font-weight: bold;
}

.site-wrapper blockquote {
	margin: .5em .5em .5em 1em;
}

.site-wrapper blockquote p {
	margin: 0;
	padding: 0;
}

.site-wrapper hr {
	border-style: solid none none none;
	border-width: 1px;
	border-color: #BBBBBB;
}

.site-wrapper table {
	border-style: none;
}

.site-wrapper table td {
	border-style: none;
}

.site-wrapper .category {
	margin-bottom: 9px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 5px 5px 5px 5px;
	font-size: .9em;
}

.site-wrapper .header {
	background: #DDDDDD;
	padding: 0px 5px 0px 5px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 0.9em;
}

.site-wrapper .list {
	padding: 0px 5px 5px 5px;
}

.site-wrapper .newssub {
	padding: 0px 5px 0px 5px;
	font-size: 14px;
}

.site-wrapper .permalink {
	padding: 2px;
}

.site-wrapper .permalink a {
	font-size: 14px;
}

.site-wrapper .sitelogo {
	background: url(/images/0chan-autumn.png);
	width: 420px;
	height: 150px;
	margin-top: 8px;
}

.sitemenu-wrapper a {
	text-decoration: none;
}

.sitemenu-wrapper sa {
	color: #FF6600;
}

.sitemenu-wrapper a:hover {
	color: #0066FF;
}

.sitemenu-wrapper h2, .sitemenu-wrapper h1 {
	margin-bottom: 0px;
	background: #DDDDDD;
	-moz-border-radius: 5px 5px 5px 5px;
}

.sitemenu-wrapper h2 {
	border-bottom: 1px solid #CCCCCC;
}

.sitemenu-wrapper h1, .sitemenu-wrapper h2 {
	text-align: left;
}

.sitemenu-wrapper .plus {
	background: #CCCCCC;
	background-repeat: repeat-x;
	color: #000;
	border: 1px solid #BBBBBB;
}

.sitemenu-wrapper ul {
	padding-left: 0;
}

.sitemenu-wrapper li {
	background: #EEEEEE;
}

.sitemenu-wrapper li:hover {
	background: #F3F3F3;
}
