<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$name}</title>
<script src="{$ku_webpath}lib/javascript/jquery-3.3.1.min.js"></script>
<script>
    style_cookie="kustyle";
    style_cookie_txt="";
</script>
{$css}<link rel="shortcut icon" href="{$favicon}">
</head>
<body class="site-wrapper">
<h1>{$name}</h1>
{$slogan}<div class="menu">
{$linkbar}
</div>
{$content}
</body>
</html>